[Desktop Entry]
Type=Application
Name=GameNative
Comment=Linux ARM64 game launcher runtime shell
Exec=gamenative
Icon=app.gamenative.GameNative
Terminal=false
Categories=Game;
StartupNotify=true
